@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Poppins&display=swap');

body {
  font-family: 'Poppins';
  height: auto;
  margin: 0px;
}

header {
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  display: flex;
  height: 100px;
  width: 1200px;
  margin: 0 auto;
}

#logo {
  margin: 0px;
  height: 120px;
}

#menu{
  display: flex;
  justify-content: space-around;
  list-style-type: none;
}

#principal img{
  height: 400px;
}

.link-menu {
  color: #fff;
  background-color: #555;
}

.f {
  background-color: #5b305a;
}

.l {
  background-color: #e49756;

}

.m {
  background-color: #e04b5a;

}

main {
  background-color: #333;
  color: #ddd;
}

h1, h2 {
  font-family: 'Amatic SC';
}

#second a{
  color: #fff;
}

footer {
  background-color: #333;
  color: #ddd;
  height: 50px;
  padding-top: 5px;
}

.item-menu{
  padding: 5px 20px;
}

#menu a{
  border-radius: 20%;
  padding: 5px;
  text-decoration: none;

}

#contato{
  height: 50px;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  display:flex;
  width: 1200px;
  margin: 0 auto;
}
#social {
  display: flex;
  flex-direction: row;
}
#social img{
  height: 30px;
  width: 30px;
  padding: 10px;
}

#email a{
  color: #fff;
}

#sec_ctd h1 {
  display: flex;
  justify-content:flex-end;
}

#principal {
  align-items: center;
  flex-direction: row;
  display: flex;
  height: 600px;
  width: 1200px;
  margin: 0 auto;
}

#second {
  width: 1200px;
  margin: 0 auto;
  display:flex;
  align-items: center;

}

#sec_ctd p {
  text-align: justify;
}

#second img {
  width: 300px;
  align-items: center;
  display: flex;
  padding: 50px;
}

section #descricao{
  display: flex;
  margin: 0 auto;
  border: solid black 1px;
  align-items: center;
}

#descricao iframe{
  border: 1px solid #fff;
  padding: 20px;
}

#descricao ol{
  width: 400px;
}
 
#acesso{
  padding: 50px;
  text-align: center;
  font-size: x-large;
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  border-radius: 7px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 1);
}